# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth

'atom-workspace atom-text-editor:not([mini])':
  'cmd-enter': 'magic-console:toggle'

# 'atom-workspace .console':
#   'cmd-z': 'magic-console:step-backward'
#   'cmd-shift-z': 'magic-console:step-forward'
#   'cmd-y': 'magic-console:step-forward'

'body atom-workspace .console':
  'cmd-z': 'magic-console:step-backward'
  'cmd-shift-z': 'magic-console:step-forward'
  'cmd-y': 'magic-console:step-forward'
