@import "ui-variables";
@import "./markdown-preview-github";

.console {
  font-size: 15px;
  font-family: 'Inconsolata', 'Consolas', monospace;
  background-color: #F7F7F7;
  overflow: scroll;
  padding: 15px;
  padding-top: 60px;
  &:hover {
    .output-list > .buttons {
      opacity: 1;
    }
  }

  .output-list {

  }

  .output {
    position: relative;
    min-height: 60px;
    padding: 15px;
    transition: background-color 0.6s;
    &:hover {
      // outline: 1px dotted #ECECEC;
      background-color: #fff;
      .buttons {
        opacity: 1;
      }
    }
    .plugin-container {
      max-height: 100vh;
      overflow: scroll;
      & .markdown {
        background-color: transparent;
      }
    }
    .plugin-container.StackTrace, .plugin-container.Test {
      & * {
        position: relative !important;
        z-index: 1 !important;
      }
    }
  }

  .buttons {
    text-align: right;
    // position: relative;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s;
    select, button {
      font-size: 1.15rem;
      font-family: -apple-system, 'BlinkMacSystemFont', Helvetica, Arial, sans-serif;
      border-color: @input-border-color;
      border-radius: @border-radius--base;
      background: @text-color-selected;
      transition: box-shadow @transition--default;
      height: 27px;
      border: 1px solid @button-border-color;
      border-bottom: 1px solid @button-border-color--bottom;
      margin-right: 5px;
    }
  }

  .ObjectTree {
    & > ul {
      padding-top: 3px !important;
      margin-top: 0 !important;
      & > li {
        margin-left: 0 !important;
      }
    }
    li {
      font-size: 15px;
    }
  }

}

// react-json-inspector
.json-inspector,
.json-inspector__selection {
    font: 14px/1.4 Consolas, monospace;
}

.json-inspector__leaf {
    padding-left: 10px;
}

.json-inspector__line {
    display: block;
    position: relative;

    cursor: default;
}

.json-inspector__line:after {
    content: '';

    position: absolute;
    top: 0;
    left: -200px;
    right: -50px;
    bottom: 0;
    z-index: -1;

    pointer-events: none;
}

.json-inspector__line:hover:after {
    background: rgba(0, 0, 0, 0.06);
}

.json-inspector__leaf_composite > .json-inspector__line {
    cursor: pointer;
}

.json-inspector__radio,
.json-inspector__flatpath {
    display: none;
}

.json-inspector__value {
    margin-left: 5px;
}

.json-inspector__search {
    min-width: 300px;
    margin: 0 10px 10px 0;
    padding: 2px;
}

.json-inspector__key {
    color: #505050;
}

.json-inspector__value_helper,
.json-inspector__value_null,
.json-inspector__not-found {
    color: #b0b0b0;
}

.json-inspector__value_string {
    color: #798953;
}

.json-inspector__value_boolean {
    color: #75b5aa;
}

.json-inspector__value_number {
    color: #d28445;
}

.json-inspector__hl {
    background: #ff0;
    box-shadow: 0 -1px 0 2px #ff0;
    border-radius: 2px;
}

.json-inspector__show-original {
    display: inline-block;
    padding: 0 6px;

    color: #666;
    cursor: pointer;
}

.json-inspector__show-original:hover {
    color: #111;
}

.json-inspector__show-original:before {
    content: '⥂';
}

.json-inspector__show-original:hover:after {
    content: ' expand'
}
